#class{
    background-color: #0d6efd;
}
#desc{
    height:165px;
    width:300px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

body{
    overflow-x: hidden;
}