#class{
    background-color: #0d6efd;
}
#desc{
    height:200px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

body{
    overflow-x: hidden;
}